@import '../../../libs/shared/ui/styles/_tokens.css';
@import '../../../libs/shared/ui/styles/_overlay.css';

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}
